market/dist
market/tmp
market/out-tsc
market/bazel-out

market/node_modules
market-server/node_modules


chrome-profiler-events*.json
speed-measure-plugin*.json

market/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


market/.DS_Store
market-server/.DS_Store
market/Thumbs.db
market-server/Thumbs.db
